<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTitulo</key>
	<string>Welcome</string>
	<key>TextoInicial</key>
	<string>Results View</string>
	<key>TextoIgual</key>
	<string>Result</string>
	<key>botonIdioma</key>
	<string>Language</string>
</dict>
</plist>
